OpenGLAssignment/OpenGLAssignment.vcxproj
.vs
Debug
OpenGLAssignment.sdf
OpenGLAssignment.sln
OpenGLAssignment/Debug
OpenGLAssignment/OpenGLAssignment.vcxproj.filters
OpenGLAssignment/OpenGLAssignment.vcxproj.user